/* .light {
    color: white;
    background-color: blue;
}
.dark {
    color: black;
    background-color: lightblue;
}

button {
    font-size: large;
    margin: 2%;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px;
} */